<h1>Admin Console</h1>

<%= link_to "Categories", categories_path %><br><br>

Total Number of Users: <%= @number_of_users %><br><br>

Total Net Worth: $<%= @total_net_worth %><br><br>

Average Net Worth: $<%= @average_net_worth%><br><br>

Total Debt: $<%= @total_debt %><br><br>

Average Debt: $<%= @average_debt %>
