<h1><%= @user.username %></h1>

<h3>Net Worth: $<%= number_with_delimiter(@net_worth)%></h3>

<!---need to be able to display categories and accounts under each category--->
<% @categories.each do |category| %>
  <h3><%= category.name %> ($<%=number_with_delimiter(category.user_category_value_calc(@user))%>)</h3>

  <% @user.accounts.each do |account| %>
    <% if account.category_id == category.id %>
      <p><%= link_to account.name, account_path(account) %> => $<%= number_with_delimiter(account.dollar_value) %></p>
    <% end %>
  <% end %>
<% end %>

<% if @admin %>
  <%= link_to "Delete User", @user, method: :delete, data: {confirm: "Are you sure you want to delete the user?"} %>
<% end %>
