<% if @category.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@category.errors.count, "error") %> prohibited this account from being saved:
    </h2>

    <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for(@category) do |f| %>
  <br>Category Name:<br>
  <%= f.text_field :name %><br><br>
  <%=f.hidden_field :dollar_value, value: 0%>
  <%=f.hidden_field :number_of_users, value: 0%>

  <%= f.submit %>
<% end %>
