<h1>Categories</h1>

<%= link_to "Add New Category", new_category_path %>

<ul>
  <% @categories.each do |category| %>
    <li><%=link_to category.name, category_path(category) %></li>
      <ul>
        <li>Number of Users: <%= number_with_delimiter(users_count(category)) %> </li>
        <li>Total Value: $<%= number_with_delimiter(total_value(category)) %> </li>
        <li>Average Value Per User: $<%= number_with_delimiter(average_value(category))%> </li>
      </ul>
  <% end %>
</ul>
