<!DOCTYPE html>
<html>
  <head>
    <title>NetWorthPortfolioProject3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<br>
    <% if logged_in? %>
        <% if current_user.admin == false %>
          <%= link_to 'Home', user_path(session[:user_id]) %>
          <%= link_to 'Add Account', new_user_account_path %>
          <%= link_to "Log Out", signout_path, method:'post' %>
        <% else %>
          <%= link_to 'Home', admin_home_path %>
          <%= link_to "Log Out", signout_path, method:'post' %>
        <% end %>
    <% else %>
      <%= link_to 'Sign Up', new_user_path %>
      <%= link_to 'Log in', signin_path %>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
