
<% if @account.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:
    </h2>

    <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<%= form_for(@account) do |f| %>
  <br>Account Name:<br>
  <%= f.text_field :name %><br><br>

  <br>Asset or Debt?:<br>
  <%= f.select :account_type, ["Asset", "Debt"] %><br><br>

  <br>Category:<br>
  <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: false %><br><br>

  <br>Value ($):<br>
  <%= f.number_field :dollar_value %><br><br>


  <%=f.hidden_field :user_id, value: @user.id%>

  <%= f.submit %>
<% end %>
