<h1>Account Information</h1>

<h2><%=@account.name%></h2>
<h4>
  <ul>
    <li>Asset or Debt?: <%=@account.account_type%>
    <li>Category: <%=@category.name%>
    <li>Value: $<%=number_with_delimiter(@account.dollar_value, :delimiter => ',')%>
    <li>Last Updated: <%=@account.updated_at%>
  </ul>
</h4>

<%= link_to "Edit Account", edit_account_path%><br><br>

<%= link_to "Delete Account", @account, method: :delete, data: {confirm: "Are you sure you want to delete the account?"} %>
